<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 shadow-sm">
  <div class="container">
    <a class="navbar-brand fs-3 fw-bold" href="/">WanderLust</a>
    
    <div class="collapse navbar-collapse show" id="navbarNav">
      <ul class="navbar-nav ms-auto fs-5">
        <li class="nav-item mx-2">
          <a class="nav-link text-white" href="/listings">All Listings</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-white" href="/listings/new">New Listing</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
